[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=Itch
Comment=Install and play itch.io games easily
Comment[ar]=قم بتنصيب ولعب ألعاب itch.io بكل سهولة
Comment[bg]=Инсталирайте и играйте игри от itch.io лесно
Comment[cs]=Snadná instalace a hraní her z itch.io
Comment[cy]=Gosod a chwarae gemau itch.io yn hawdd
Comment[da]=Installér og spil nemt itch.io-spil
Comment[de]=Installiere und spiele itch.io Spiele ganz bequem
Comment[en]=Install and play itch.io games easily
Comment[eo]=Instalu kaj ludu ludojn en itch.io facile
Comment[es]=Instala y juega juegos en itch.io fácilmente
Comment[fi]=Asenna ja pelaa itch.io pelejä helposti
Comment[fr]=Installer et jouer à des jeux itch.io facilement
Comment[in]=Install dan main game itch.io dengan mudah
Comment[it]=Installa ed esegui facilmente i giochi presenti su itch.io
Comment[ja]=itch.ioで公開されているゲームを簡単にインストールしてお楽しみください
Comment[nb]=Installer og spill itch.io-spill lettvint
Comment[nl]=Installeer and speel itch.io spellen gemakkelijk
Comment[pl]=Łatwo instaluj i graj w gry itch.io
Comment[pt_BR]=Instale e jogue os jogos itch.io facilmente
Comment[pt_PT]=Instala e joga jogos do itch.io facilmente
Comment[ro]=Instalează şi joacă jocuri de pe itch.io cu uşurinţă
Comment[ru]=Простой и удобный способ установки игр с itch.io
Comment[sr]=Једноставно инсталирај и играј itch.io игре
Comment[sv]=Installera och spela itch.io-spel enkelt
Comment[tr]=itch.io oyunlarını kolayca indirip oynayın
Comment[zh]=简单方便的安装并开始 itch.io 游戏
Exec=remsu /usr/bin/sparky-aptus-gamer itch
Icon=itch
Type=Application
Categories=Applications;Game
