[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=ZSNES
Comment=Emulator for the Super Nintendo Entertainment System
Comment[de]=Emulator für das Super Nintendo Entertainment System
Comment[es]=Emulador para Super Nintendo Entertainment System
Comment[fr]=Émulateur pour Super Nintendo Entertainment System
Comment[it]=Emulatore per Super Nintendo Entertainment System (SNES)
Comment[ja]=Super Nintendo Entertainment System エミュレーター
Comment[pl]=Emulator dla systemu Super Nintendo Entertainment
Comment[pt_BR]=Emulador para o Super Nintendo Entertainment System (SNES)
Comment[pt_PT]=Emulator for the Super Nintendo Entertainment System
Comment[ru]=Эмулятор для Super Nintendo Entertainment System
Exec=remsu /usr/bin/sparky-aptus-gamer zsnes
Icon=zsnes
Type=Application
Categories=Applications;Game
