[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=GNOME Video Arcade
Comment=Play classic arcade games
Comment[bs]=Igraj klasične arkadne igre
Comment[ca]=Jugueu a jocs d'arcade clàssics
Comment[cs]=Hrát klasické arkádové hry
Comment[da]=Spil klassiske arkadespil
Comment[de]=Klassische Arcade-Spiele spielen
Comment[el]=Παίξιμο κλασικών παιχνιδιών arcade
Comment[es]=Jugar a juegos de arcade clásicos
Comment[fr]=Jouer à des jeux d'arcade classiques
Comment[gl]=Xogar a xogos de arcade clásicos
Comment[hu]=Klasszikus játéktermi játékok indítása
Comment[id]=Mainkan permainan arkade klasik
Comment[nb]=Spill klassiske arcade-spill
Comment[pl]=Klasyczne gry z automatów
Comment[pt_PT]=Jogue jogos clássicos de arcada
Comment[pt_BR]=Jogue clássicos jogos de fliperama
Comment[sl]=Igrajte klasične arkadne igre
Comment[sr]=Играјте класичне аркадне игре
Comment[sv]=Spela klassiska arkadspel
Comment[zh_CN]=玩经典的街机游戏
Exec=remsu /usr/bin/sparky-aptus-gamer gnome-video-arcade
Icon=gnome-video-arcade
Type=Application
Categories=Applications;Game
