[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=Mednafen
Comment=Atari Lynx, GameBoy, NES, SNES, PC-FX, Sega, Sony PlayStation and others systems emulator
Comment[de]=Emulator für Atari Lynx, GameBoy, NES, SNES, PC-FX, Sega, Sony PlayStation und andere Systeme
Comment[es]=Emulador de Atari Lynx, GameBoy, NES, SNES, PC-FX, Sega, Sony PlayStation y otros sistemas
Comment[fr]=Émulateur pour Atari Lynx, GameBoy, NES, SNES, PC-FX, Sega, Sony PlayStation et autres systèmes
Comment[it]=Emulatore per linux ed altri sistemi per Atari Lynx, GameBoy, NES, SNES, PC-FX, Sega, Sony PlayStation
Comment[ja]=Atari Lynx・GameBoy・NES・SNES・PC-FX・SEGA・SONY PlayStation・他システムエミュレータ
Comment[pl]=Emulator Atari Lynx, GameBoy, NES, SNES, PC-FX, Sega, Sony PlayStation i innych systemów
Comment[pt_BR]=Emuladores para o Atari Lynx, GameBoy, NES, SNES, PC-FX, Sega, Sony PlayStation e outros sistemas
Comment[pt_PT]=Emulador para Atari Lynx, GameBoy, NES, SNES, PC-FX, Sega, Sony PlayStation e outros sistemas
Comment[ru]=Atari Lynx, GameBoy, NES, SNES, PC-FX, Sega, Sony PlayStation и прочие эмуляторы систем
Exec=remsu /usr/bin/sparky-aptus-gamer mednafen
Icon=applications-games
Type=Application
Categories=Applications;Game
