[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=Wine
Comment=Wine Windows Program Loader
Comment[ar]=منظومة واين لتشغيل برامج وندوز
Comment[cs]=Zavaděč programů pro Wine
Comment[de]=Wine Windows-Programmstarter
Comment[es]=Wine Cargador de programas de Windows
Comment[lt]=Wine Windows programų paleidyklė
Comment[nl]=Wine Windows programmalader
Comment[sv]=Wine Windows Programstartare
Comment[ro]=Wine - Încărcătorul de programe Windows
Comment[ru]=Wine - загрузчик Windows программ
Comment[uk]=Wine - завантажувач Windows програм
Comment[fr]=Wine - Chargeur de programmes Windows
Comment[ca]=Wine - Carregador d'aplicacions del Windows
Comment[pt]=Carregador de aplicativos Windows Wine
Comment[pt_br]=Carregador de aplicativos Windows Wine
Comment[it]=Wine Carica Programmi Windows
Comment[da]=Wine, Programstarter til Windows-programmer
Comment[nb]=Wine - for kjøring av Windows-programmer
Comment[nn]=Wine - for køyring av Windows-program
Comment[sr]=Wine - дизач Windows програма
Comment[tr]=Wine - Windows programı yükleyicisi
Comment[hr]=Wine - dizač Windows programa
Comment[he]=Wine — מריץ תכניות Windows
Comment[ja]=Wine Windowsプログラムローダー
Comment[pl]=Wine - aplikacja do uruchamiania progrmaów Windows 
Exec=remsu /usr/bin/sparky-aptus-gamer wine
Icon=wine
Type=Application
Categories=Applications;Game
